<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="whoweare">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <h3 class="orange-text center bold">Who we are</h3>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="black-text flow-text center">
                        Welcome to Bike Tracker

                        Bike Tracker is no fluff bike tracker build by bikers for bikers.

                        Some more blurb about why this tracking product is good for you, why you should trust handsoff
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>