<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{home.title}"></title>

    <div th:include="fragments/includes :: includes(false)" th:Remove="tag"></div>

</head>
<body>
<div th:include="fragments/navbar :: navbar(false)" th:remove="tag"></div>
<main>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="text center">Checkout</h5>
            </div>
            <p> &nbsp;</p>
            <div class="input-field col s12">
                <input value="1" id="count" type="number" class="validate"/>
                <label>How many trackers?</label>
            </div>

            <div class="divider"></div>

            <div class="input-field col s12">
                <select>
                    <option selected="" value="m">£9.99 - Monthly</option>
                    <option value="a1">£100 - Annually</option>
                </select>
                <label>Billing frequency</label>
            </div>

            <div class="col s12">

                <div class="card white lighten-2">
                    <div class="card-content">
                        <h4 class="center flow-text">Total Cost Today</h4>
                        <h4 class="center flow-text grey-text lighten-3">£199</h4>
                        <div class="center">
                            <a class="waves-effect waves-light btn orange" type="submit">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<div th:include="fragments/scripts :: scripts" th:remove="tag"></div>
<script>
      $(document).ready(function() {
    $('select').material_select();
  });







</script>
</body>
</html>