<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{home.title}"></title>

    <div th:include="fragments/includes :: includes(false)" th:Remove="tag"></div>

</head>
<body>
<div th:include="fragments/navbar :: navbar(false)" th:remove="tag"></div>
<main>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="text center">Checkout</h5>


                <div class="card white lighten-2">
                    <div class="card-content grey-text lighten-3">
                        <p class="center flow-text">To get you to the right place you'll need to create an account</p>
                        <div class="center">
                            <div>
                                <a href="/createaccount" class="waves-effect waves-light btn orange center"
                                   type="submit"
                                   style="width:100%">New
                                    Customer</a>
                            </div>
                        </div>

                    </div>
                </div>


                <p class="center grey-text lighten-3 flow-text"> or </p>


                <h5 class="center">Login</h5>
                <div class="fb-login-button center" style="width:100%" data-max-rows="1" data-size="large"
                     data-show-faces="false"
                     scope="public_profile,email" onlogin="checkLoginState();"
                     data-auto-logout-link="true"> Continue with Facebook
                </div>


                <a href="/checkout/options" style="width:100%;margin-top:10px"
                   class="waves-effect waves-light center flow-text">
                    GO TO PAYMENT TEST</a>


                <form th:action="@{/login}" method="post">

                    <div class="col s12 center red-text">
                        <div th:if="${param.error}">
                            Invalid username and password.
                        </div>
                        <div th:if="${param.logout}">
                            You have been logged out.
                        </div>
                        <!--<div id="status"></div>-->

                    </div>

                    <div class="input-field col s12">
                        <input id="email_address" type="text" class="validate" name="username"/>
                        <label for="email_address">Email Address</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" name="password"/>
                        <label for="password">Password</label>
                    </div>

                    <div class="col s12 center">
                        <div>
                            <a class="waves-effect waves-light btn orange" type="submit">Login</a>
                        </div>
                    </div>
                    <div class="col s12" style="margin-top:10px">
                        <div class="divider"></div>
                        <a style="width:100%;margin-top:10px" class="waves-effect waves-light center flow-text">Help, I
                            forgot my username or password.</a>

                        <a href="/createaccount" style="width:100%;margin-top:10px"
                           class="waves-effect waves-light center flow-text">
                            Create Account</a>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!--<h1>Checkout</h1>-->


</main>

<div th:include="fragments/scripts :: scripts" th:remove="tag"></div>
</body>
</html>