<html ng-app="main" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/stylesheets/leaflet.css"/>
    <div th:include="fragments/includes :: includes(false)" th:remove="tag"></div>

</head>
<body style="padding: 0px;">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>

</div>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l12 offset-m1">
                <div class="row center">
                    <div class="col s12 m12 l12">
                        <h4 class="orange-text">Your devices</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col s12 m10 l12 offset-m1">
                    <div class="row left">
                        <div class="col s12 m12 l12">
                            <!--<h4 class="orange-text">Oliver Hanson</h4>-->
                            <!--<h5 class="orange-text">SJ56 NFG</h5>-->
                        </div>
                    </div>
                    <map-directive style="height:512px"></map-directive>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="/javascripts/angular/angular.js"></script>
<script src="/javascripts/angular/angular-leaflet-directive.js"></script>
<script src="/javascripts/angular/app.js"></script>
<script src="/javascripts/leaflet.js"></script>

<!--<div th:include="fragments/footer :: footer"></div>-->
<div th:include="fragments/scripts :: scripts"></div>
</body>
</html>