<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{home.title}"></title>


    <div th:include="fragments/includes :: includes(true)" th:remove="tag"></div>

    <meta name="description" th:content="#{home.meta.description}"/>
    <meta property="og:title" th:content="#{home.title}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" th:content="${canonical}"/>
    <meta property="og:description" th:content="#{home.meta.description}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" th:content="${canonical}"/>
    <meta name="twitter:title" th:content="#{home.title}"/>
    <meta name="twitter:description" th:content="#{home.meta.description}"/>
</head>
<body>

<div th:include="fragments/navbar :: navbar" th:remove="tag"></div>

<main>
    <div id="index-banner" class="parallax-container valign-wrapper" style="height:512px">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row valign">
                    <div class="col s12 m8 l8">
                        <div class="col l8 m12">
                            <div class="left">
                                <h4 class="orange-text" th:text="#{home.landing.title}">Placeholder</h4>
                                <h4 class="black-text" th:text="#{home.landing.title2}">Placeholder</h4>
                                <p class="black-text flow-text" th:text="#{home.landing.blurb}">Placeholder</p>
                                <div class="col s6 m6 l6 left">
                                    <a href="http://materializecss.com/getting-started.html" id="buy-button"
                                       class="btn-large waves-effect waves-light orange lighten-1"
                                       th:text="#{home.landing.button.pay}">Placeholder</a>
                                </div>

                                <div class="col s6 m6 l6 left">
                                    <a href="http://materializecss.com/getting-started.html" id="more-button"
                                       class="btn-large waves-effect waves-light white black-text lighten-1"
                                       th:text="#{home.landing.button.features}">Placeholder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/><br/>

            </div>
        </div>
        <div class="parallax"><img src="/images/landing-min.png" alt="A cool motorbike"/></div>
    </div>
    <div class="divider"></div>

    <div th:include="fragments/usp :: usp"></div>

    <div class="divider"></div>

    <div th:include="fragments/whoweare :: whoweare"></div>

    <div class="divider"></div>

    <div th:include="fragments/howitworks :: howitworks"></div>

    <div class="divider"></div>

    <div th:include="fragments/features :: features"></div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material
                        Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/images/bike-test-min.jpg" alt="Unsplashed background img 2"/></div>
    </div>

    <div th:include="fragments/pricing :: pricing"></div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material
                        Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/images/background3.jpg" alt="Unsplashed background img 3"/></div>
    </div>
</main>

<div th:include="fragments/footer :: footer"></div>
<div th:include="fragments/scripts :: scripts"></div>

</body>
</html>