<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Bike-Tracker Login</title>
    <div th:include="fragments/includes :: includes(false)" th:remove="tag"></div>
</head>
<body>

<div th:include="fragments/navbar :: navbar(false)" th:remove="tag"></div>

<main>

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 center">
                    <h5>Login</h5>
                    <div class="fb-login-button center" style="width:100%" data-max-rows="1" data-size="large"
                         data-show-faces="false"
                         scope="public_profile,email" onlogin="checkLoginState();"
                         data-auto-logout-link="true"> Continue with Facebook
                    </div>
                </div>

                <div class="col s12 center">
                    <p class="grey-text lighten-3 flow-text" style="margin-top:10px">or</p>
                </div>

                <div class="col s12">
                    <form th:action="@{/login}" method="post">

                        <div class="col s12 center red-text">
                            <div th:if="${param.error}">
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}">
                                You have been logged out.
                            </div>
                            <!--<div id="status"></div>-->

                        </div>

                        <div class="input-field col s12">
                            <input id="email_address" type="text" class="validate" name="username"/>
                            <label for="email_address">Email Address</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" name="password"/>
                            <label for="password">Password</label>
                        </div>

                        <div class="input-field col s12 center">
                            <button type="submit">
                                <a class="waves-effect waves-light btn orange">Login</a>
                            </button>
                        </div>
                        <div class="col s12" style="margin-top:10px">
                            <div class="divider"></div>
                            <a style="width:100%;margin-top:10px" class="waves-effect waves-light center flow-text">Help, I forgot my username or password.</a>

                            <a href="/createaccount" style="width:100%;margin-top:10px" class="waves-effect waves-light center flow-text">Create
                                Account</a>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</main>

<div th:include="fragments/scripts :: scripts" th:remove="tag"></div>


</body>
</html>


