<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Bike-Tracker Login</title>
    <div th:include="fragments/includes :: includes(false)" th:remove="tag"></div>
</head>
<body>

<div th:include="fragments/navbar :: navbar(false)" th:remove="tag"></div>

<main>
    <form th:action="@{/login}" method="post">
        <div class="row">
            <div class="col 12">
                <div class="card white">
                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12 center">
                                <h5>Account Login</h5>
                            </div>

                            <div class="col s12 center red-text">
                                <div th:if="${param.error}">
                                    Invalid username and password.
                                </div>
                                <div th:if="${param.logout}">
                                    You have been logged out.
                                </div>
                            </div>

                            <div class="input-field col s12">
                                <input id="email_address" type="text" class="validate" name="username"/>
                                <label for="email_address">Email Address</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate" name="password"/>
                                <label for="password">Password</label>
                            </div>

                            <div class="input-field col s12 center">
                                <button type="submit">
                                    <a class="waves-effect waves-light btn orange"><i
                                            class="material-icons right">cloud</i>Login</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 center">
                <div class="divider"></div>
            </div>

            <div class="col 12">
                <div class="card white">
                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12 center">
                                <a class="waves-effect waves-light">Forgot username or password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="card white">-->
            <!--<div class="card-content black-text">-->
            <!--<div class="row">-->
            <!--<div class="input-field col s12 center">-->
            <!--<a class="waves-effect waves-light">Create an account</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </form>
</main>

<div th:include="fragments/scripts :: scripts" th:remove="tag"></div>

</body>
</html>


